body {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}

#header {
	z-index: 15;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 35px;
}

#map {
	position: fixed;
	z-index: 5;
	top: 35px;
	bottom: 0;
	width: 100%;
}

#datepicker {
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 10px;
}
#datepicker input[type='text'] {
	text-align: center;
}
#datepicker .right-arrow {
	width: 20px;
	position: absolute;
	top: 11px;
	right: 10px;
	z-index: 11;
}
#datepicker .left-arrow {
	width: 20px;
	position: absolute;
	top: 11px;
	left: 10px;
	z-index: 11;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
