body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;"
}
html, body {
	height: 100%;
}

#header {
	z-index: 15;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #00695C;
  border: medium none;
  color: #000;
  box-shadow: 0px 0px 2px #aaa;
  text-shadow: none;
}
#header h1 {
	box-shadow: none;
	color: #80CBC4;
	float: left;
	font-weight: normal;
	font-family: "Montserrat",sans-serif;
	font-size: 1.5em;
	height: 50px;
	line-height: 2.1em;
	margin: auto auto auto 10px;
	padding: 0;
	text-align: left;
	text-shadow: none;
}

#header h1 a,
#header h1 a:link,
#header h1 a:visited,
#header h1 a:hover,
#header h1 a:active {
	text-decoration: none;
	color: #80CBC4;
}

#header h1 span {
	display: inline-block;
	height: 50px;
}

#header ul {
	float: right;
	list-style: outside none none;
	margin: 16px 15px 0 0;
	padding: 0;
}

#header ul li {
	color: #80CBC4;
	display: inline;
	padding: 0 15px;
}

#header ul li a {
	display: inline;
	color: white;
  text-decoration: none;
}

#header ul li a:hover {
  text-decoration: underline;
}
.main-content {
	padding: 100px 30px;
}

#map {
	position: fixed;
	z-index: 5;
	top: 50px;
	bottom: 0;
	width: 100%;
}

#datepicker {
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 15px;
}
#datepicker input[type='text'] {
	text-align: center;
}
#datepicker .right-arrow {
	width: 20px;
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 11;
}
#datepicker .left-arrow {
	width: 20px;
	position: absolute;
	top: 20px;
	left: 10px;
	z-index: 11;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

.ui-input-text input, .ui-input-search input {
	font-family: "Montserrat";
	letter-spacing: 1px;
}

.ui-body-inherit {
	background-color: #fff;
	border: medium none;
	box-shadow: 0 0 2px #777;
	color: #333;
	padding: 9px;
	text-shadow: none;
}

#datepicker input[type="text"] {
    text-align: center;
}

html body .ui-datepicker .ui-state-highlight {
	background-color: #ccc;
}

html body .ui-datepicker .ui-state-active {
    background-color: #80CBC4;
    border-color: #80CBC4;
    color: #fff;
    text-shadow: 0 1px 0 #004D40;
}

html body .ui-datepicker .ui-state-hover {
    background-color: #B2DFDB;
    border-color: #B2DFDB;
    color: #004D40;
    text-shadow: 0;
}

.leaflet-popup-content-wrapper {
	border-radius: 12px;
	font-family: 'Montserrat', sans-serif;"
	font-size: 1.3em;
	padding: 1px 0 10px;
	text-align: center;
}

.leaflet-popup-content a:first-child {
	display: inline-block;
	font-size: 1.8em;
	padding: 0 0 10px;
}

.leaflet-popup-content p {
    margin: 10px 0;
}

.leaflet-popup-content .ended {
	font-size: 1.6em;
	color: #ef3c2c;
	font-style: italic;
}

.leaflet-popup-content p.details {
	font-size: 1.6em;
	margin-bottom: 0;
}


@media only screen and (max-width: 600px) {
  #header {
    height: 90px;
    text-align: center;
  }
  #header h1 {
  	margin: 0;
  	width: 100%;
  	text-align: center;
  }
  #header ul {
    clear: both;
    float: none;
    margin: 58px 15px 0 0;
    padding: 0;
    text-align: center;
	}
	#map {
    top: 90px;
	}
	#datepicker {
	    top: 90px;
	}
}
