.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation {
  &.menu--account, &.menu--event-menu {
    ul {
      width: 450px; /*can be in percentage also.*/
      height: auto;
      margin: 0 auto;
      position: relative;
      font-size: 1.4rem;
      padding: 30px 0;
    }
    .menu-item {
      display: inline;

      a {
        padding: 0 30px;
        &.is-active {
          text-decoration: none;
        }
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
