{% extends "themes/custom/foodtruckstheme/templates/page--user.html.twig" %}

{% block content %}
  <ul class="menu">
    <li class="menu-item">
      <a href="/user" >Food Truck List</a>
    </li>
    |
    <li class="menu-item">
      <a href="/user/{{ user.id }}/edit" class="is-active">Account Details</a>
    </li>
  </ul>
  {{ page.user_edit }}
{% endblock %}

