header {
  color: #000;
  position: relative;
  box-shadow: 0 0 2px #aaa;
  border: none;
  background-color: #00695c;
  height: 50px;
  padding: 0;
  //@include breakpoint($bp--medium-up) {
  //  .search-form {
  //    position: absolute;
  //    top: $spacing;
  //    right: $spacing;
  //  }
  //}
  a {
    text-decoration: none;
    color: #fff;
    &.is-active {
      color: red;
    }
  }
  ul.menu {
    a {
      text-decoration: none;
      color: #fff;
      &.is-active {
        color: red;
      }
    }
  }

  .site-name {
    color: #80cbc4;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    height: 50px;
    line-height: 2.1em;
    margin: auto auto auto 10px;
    padding: 0;
    text-align: left;
    text-shadow: none;
    a {
      color: #80cbc4;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.block-system-branding-block {
  float: left;
}
.menu--main .menu-item {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
main {
  &::before {
    content: '';
    display: block;
    clear: both;
  }
}
.path-user, .path-food-trucks {
  header ul.menu li:last-child a {
    color: #ff0000;
  }
}
