header {
  background-color: #00695c;
  border: 0;
  box-shadow: 0 0 2px #aaa;
  color: #000;
  height: 50px;
  padding: 0;
  position: relative;
  //@include breakpoint($bp--medium-up) {
  //  .search-form {
  //    position: absolute;
  //    top: $spacing;
  //    right: $spacing;
  //  }
  //}
  a {
    color: #fff;
    text-decoration: none;
  }

  ul.menu {
    a {
      color: #fff;
      font-weight: 700;
      text-decoration: none;

      &.is-active {
        color: #80cbc4;
      }
    }
  }

  .site-name {
    color: #80cbc4;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    height: 50px;
    line-height: 2.1em;
    margin: auto auto auto 10px;
    padding: 0;
    text-align: left;
    text-shadow: none;

    a {
      color: #80cbc4;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.block-system-branding-block {
  float: left;
}

main {
  &::before {
    clear: both;
    content: '';
    display: block;
  }
}

.path-user,
.path-food-trucks {
  header ul.menu li:last-child a {
    color: white;
  }
}
